@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --color-primario: #9f3647;
    --color-secundario: rgb(23, 23, 23);
    --color-terciario: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--color-secundario);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primario);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:var(--color-primario);
}
body{
    background-color: #181419;
    color:var(--color-terciario); 
}

/*HEADER*/
.header{
    background-color: var(--color-primario);
    color:var(--color-terciario);
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-right: 40px;
    padding: 1.5rem 0;
}
        
.logo{
    text-decoration: none;
    color: var(--color-terciario);
    font-weight: 700;
    font-size: 1.2rem;
    /*animacion hover*/
    &:hover{
        animation: tilt-n-move-shaking 0.25s infinite;
    }
}
        
.listaNav{
    list-style: none;
    display: flex;
    align-items: center;
}
    
.listaItem{
    margin-right:20px;
}
                
.linkNav{
    text-decoration: none;
    color: var(--color-terciario);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    /* Agregar efecto de botón presionado */
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
            color: var(--color-secundario);
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }
}

/*MAIN*/

.sectionPrincipal{
    height: 90vh;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPrincipal{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.texto{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.boton{
    text-decoration: none;
    background-color: var(--color-primario);
    color: var(--color-terciario);
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
    /* Agregar efecto de botón presionado */
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        background-color: var(--color-primario);
        color: var(--color-secundario);
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

.buscadorPrincipal{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.subtituloBuscador{
    font-size: 2rem;
}

.buscadorPeliculas{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.inputBuscador{
    color: var(--color-secundario);
    margin: 10px 0px;
    padding: 0px 15px;
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 1rem;
}

.peliculasFavoritas{
    width: 80%;
    margin: auto;
    background-color: var(--color-secundario);
    text-align: center; 
}

.favoritas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
    margin: 2rem 0;
}

.imgFavorita{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    &:hover {
        transform: scale(1.20);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

/*FOOTER*/
.footer{
    background-color:var(--color-primario);
    color:var(--color-terciario);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flechaArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--color-terciario);
    cursor: pointer;
}
            

/*HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
    .header{
        height: initial;
    }
    .nav{
        margin-left:10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 20px;
    }
    .logo{
        font-size: 1.2rem;
        font-weight:700;
    }
    .listaNav{
        padding:initial;
    }
    .linkNav{
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;    
    }

    .tituloPrincipal{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .texto{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .subtituloBuscador{
        font-size: 0.5rem;
    }

    .buscadorPrincipal{
        height: 30vh;
    }

    .inputBuscador{
        width: 200px;
    }

    .imgFavorita{
        width: 100px;
        height: 200px;
    }

    .footer{
        height: initial;
        padding-top:15px;
        padding-bottom: 20px;
    }
    .listaNav{
        flex-direction: column;
        row-gap: 15px;
    }
                    
    .linkNav{
        font-size: 1rem;
    }  
}
        
    
/* Login */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.screen {   
    background: linear-gradient(90deg, #9f3647, #9f3647);   
    position: relative; 
    height: 600px;
    width: 360px; 
    box-shadow: 0px 0px 24px #9f3647;
}
  
.screen__content {
    z-index: 1;
    position: relative; 
    height: 100%;
}
  
.screen__background {   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);  
}
  
.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}
  
.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF; 
    top: -50px;
    right: 120px; 
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #9f3647;  
    top: -172px;
    right: 0; 
    border-radius: 32px;
  }
  
  .screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #9f3647, #9f3647);
    top: -24px;
    right: 0; 
    border-radius: 32px;
  }
  
  .screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #9f3647;  
    top: 420px;
    right: 50px;  
    border-radius: 60px;
  }
  
  .login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
  }
  
  .login__field {
    padding: 20px 0px;  
    position: relative; 
  }
  
  .login__icon {
    position: absolute;
    top: 30px;
    color: #9f3647;
  }
  
  .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }
  
  .login__input:active,
  .login__input:focus,
  .login__input:hover {
    outline: none;
    border-bottom-color: #9f3647;
  }
  
  .login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #9f3647;
    box-shadow: 0px 2px 2px #9f3647;
    cursor: pointer;
    transition: .2s;
  }
  
  .login__submit:active,
  .login__submit:focus,
  .login__submit:hover {
    border-color: #9f3647;
    outline: none;
  }
  
  .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #9f3647;
  }
  
  .social-login { 
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;  
    text-shadow: 0px 0px 8px #9f3647;
  }
  
  .social-login__icon:hover {
    transform: scale(1.5);  
  }

  /* LISTADO PELICULAS*/

  .sectionPeliculas{
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/bg-register.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPeliculas{
    font-size: 3rem;
    margin: 1rem;
}

  .listadoImagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px; /* Espacio interno alrededor del contenedor de las imágenes */
    margin-top: 20px; ;
}

.peliculaItem {
    width: 200px; /* Ancho de cada elemento de la galería */
    height: auto; /* Altura ajustable según el contenido */
    border-radius: 10px;
    overflow: hidden; /* Para recortar las imágenes que se desborden del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para cada elemento */
}

.imgPelicula {
    width: 100%; /* Ajustar la imagen al 100% del contenedor */
    height: auto; /* Altura ajustable según el ancho */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para el efecto hover */
}

.imgPelicula:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse sobre la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}