@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --color-primario: #ffffff;
    --color-secundario: #f0f0f0;
    --color-terciario: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--color-secundario);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primario);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primario);
}
body{
    background-color: #f0f0f0;
    color: var(--color-terciario); 
}

/*HEADER*/
.header{
    background-color: var(--color-primario);
    color: var(--color-terciario);
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-right: 40px;
    padding: 1.5rem 0;
}
        
.logo{
    text-decoration: none;
    color: var(--color-terciario);
    font-weight: 700;
    font-size: 1.2rem;
    /*animacion hover*/
    &:hover{
        animation: tilt-n-move-shaking 0.25s infinite;
    }
}
        
.listaNav{
    list-style: none;
    display: flex;
    align-items: center;
}
    
.listaItem{
    margin-right:20px;
}
                
.linkNav{
    text-decoration: none;
    color: var(--color-terciario);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    /* Agregar efecto de botón presionado */
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
            color: var(--color-secundario);
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }
}

/*MAIN*/

.sectionPrincipal{
    height: 90vh;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPrincipal, 
.texto {
        color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.texto{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.boton{
    text-decoration: none;
    background-color: var(--color-primario);
    color: var(--color-terciario);
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
    /* Agregar efecto de botón presionado */
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        background-color: var(--color-primario);
        color: var(--color-secundario);
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

.buscadorPrincipal{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.subtituloBuscador{
    font-size: 2rem;
}

.buscadorPeliculas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.inputBuscador{
    color: var(--color-secundario);
    margin: 10px 0px;
    padding: 0px 15px;
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 1rem;
}

.peliculasFavoritas{
    width: 100%;
    background-color: var(--color-secundario);
    text-align: center; 
}

.favoritas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
    margin: 2rem 0;
}

.imgFavorita{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    &:hover {
        transform: scale(1.20);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

/*FOOTER*/
.footer{
    background-color:var(--color-primario);
    color:var(--color-terciario);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flechaArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--color-terciario);
    cursor: pointer;
}
            

/*HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
    .header{
        height: initial;
    }
    .nav{
        margin-left:10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 20px;
    }
    .logo{
        font-size: 1.2rem;
        font-weight:700;
    }
    .listaNav{
        padding:initial;
    }
    .linkNav{
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;    
    }

    .tituloPrincipal{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .texto{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .subtituloBuscador{
        font-size: 0.5rem;
    }

    .buscadorPrincipal{
        height: 30vh;
    }

    .inputBuscador{
        width: 200px;
    }

    .imgFavorita{
        width: 100px;
        height: 200px;
    }

    .footer{
        height: initial;
        padding-top:15px;
        padding-bottom: 20px;
    }
    .listaNav{
        flex-direction: column;
        row-gap: 15px;
    }
                    
    .linkNav{
        font-size: 1rem;
    }  
}
